/*!
Theme Name: Wellness Works
Theme URI: http://underscores.me/
Author: Sojourner Society
Author URI: http://sojournersociety.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wellnessworks
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Wellness Works is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
//@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700,900');
//@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import 'bootstrap';

.btn {
  &.btn-yellow {
    background:$brand-primary !important;
  }
}

body#app {
  background: #CECECE;
  //
}

.site-header {
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  &.static {
    position: relative;
    margin-bottom:50px;
  }
}

@media (max-width: $screen-sm-max) {
  //.site-header {
  //  position: relative;
  //}
  .menu-main-menu-container {
    background:#f2f2f2;
  }
}

.main-navigation {
  a.menu-toggle {
    background: #f9f9f9;
    display: inline-block;
    padding: 5px 2px 3px;
    margin: 15px 0;
  }
  ul {
    list-style-type: none;
    text-align: right;
  }
  li {
    display: inline-block;
    border-bottom: 5px solid transparent;
    &:hover, &.current_page_item {
      //background:$brand-primary;
      border-color: $brand-primary;
    }
    &.page-item-7.current_page_item {
      border-color: transparent;
      //background:none;
    }
    &.my-static-link {
      a.btn {
        color:#000 !important;
      }
    }
  }
  a {
    color: #000;
    //text-transform: uppercase;
    font-family: $font-family-sans-serif !important;
    font-weight: 400;
    padding: 0 10px;
    font-size: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .site-header {
    background: transparent;
    padding: 25px 0;
  }
  .main-navigation {
    a {
      color:#000 !important;
    }
    ul {
      text-align: center;
      margin: 0;
      padding: 20px 0 10px;
    }
    li {
      width: 100%;
      padding: 5px 0;
      //border-bottom: 1px solid #FFF;
      &:last-child {
        border-bottom: none;
      }

    }
  }
}

#banner {
  min-height: 150px;
  position: relative;
  z-index: -10;
  background:url(images/bg-pattern.jpg);
  &.page {
    border-bottom:2px solid #000;
  }
  &.home {
    min-height: 475px;
    background-color: #f2f2f2 !important;
    background-size: cover !important;
    background-position: center center !important;
    &:before {
      background:linear-gradient(180deg, rgba(0,0, 0, .3), rgba(0,0, 0, 0));
    }
  }
  &:before {
    content: " ";
    background:linear-gradient(180deg, rgba(#F5F5F5, .8), rgba(#F5F5F5, .7));
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 0;
  }
}

@media screen and (max-width : $screen-sm-max) {
  #banner {
    &.home {
      min-height: 200px;
    }
    &.home.promo {
      min-height: 300px;
      min-height: 50vh;
    }
  }
}

.tagline {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center center;
  //background-image: url(images/tagline-moon.png);
  background-size: 230px 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  footer.site-footer & {
    min-height: 400px;
    small {
      color:#000;
      background:#fff;
    }
    h4 {
      color:#000 !important;
    }
  }
}

.core-benefit {
  img {
    margin: 0 auto;
    display: block;
  }
  h5 {
    margin: 15px 0 -15px;
    padding: 0;
    font-size: 1.25em;
    font-weight: 600;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .core-benefit {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 25px;
  }
}

//PAGE
.site-main {
  padding-top:40px;

}

//PRODUCTS
.products {
  margin-top:25px;
  .product-basic, .product-gray {
    h2 {
      color:#B3B3B3;
    }
  }
  .product-virtual {
    min-height: inherit !important;
  }
  .product-flex {
    .product-title {
      background-color:#B3B3B3;
      h2 {
        color:#fff;
      }
    }
  }
  .product-virtual {
    .product-title {
      min-height: inherit !important;
      h2 {
        //font-size: 18px;
      }
    }
  }
  .product-pro, .product-yellow {
    .product-title {
      background-color: $brand-primary !important;
      h2 {
        color:#fff;
      }
    }
  }
  .product-enterprise, .product-black  {
    min-height: inherit !important;
    //margin-bottom:110px !important;
    .product-title {
      background-color:#777777;
      h2 {
        color:#FFF;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      }
    }
  }
  .product-content {
    h1 {
      color:$gray-darker !important;
      line-height: 1.25;
    }
    h5 {
      //color: $brand-secondary;
      margin: 0;
      padding: 4px 0;
      font-weight: bold;
      &.text-black {
        color:$black;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
    small {
      margin: 0;
      padding: 0;
      display: block;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding:0 20px;
    }
    li {
      border-bottom:1px solid #b3b3b3;
      padding:15px 0;
      &:last-child {
        border-bottom:none;
      }
    }
  }
  .product-price {
    padding:20px 20px;
    h1 {
      text-align: center;
      //color: darken($brand-primary, 20%);
      color:#000;
      margin:0;
      padding:0;
      font-size: 3.5em;
    }
  }
  .product-list {
    min-height:500px;
    background:#f2f2f2;
    margin:15px 0;
  }
  .product-services {
    .product-service-actions {
      padding-top:25px;
    }
    .product-title {
      min-height: 70px;
    }
    .product-sign-up {
      padding-top:15px;
      a {
        margin-left:20px;
      }
    }
    .product-content {
      .row {
        //> div {
        //  display: table-cell;
        //}
      }
    }
    .product-price {
      text-align: center;
      padding:0 0;
      h2 {
        color:$brand-primary !important;
      }
    }
  }
  .product-actions {
    padding:20px 0 0 0;
    text-align: center;
    .product-action {
      font-family: $font-family-serif;
      font-size: 16px;
      padding: 30px;
      min-height: 75px;
      cursor:pointer;
      box-sizing: border-box;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
    .action-blue {
      background: darken($brand-primary, 5%);
      &:hover {
        background:darken($brand-primary, 10%);
      }
    }
    .action-brown {
      background: lighten($btn-secondary-bg, 15%);
      &:hover {
        background:darken($btn-secondary-bg, 10%);
      }
    }
  }
  .product-title {
    min-height: 150px;
    background:#e2e2e2;
    text-align: center;
    background-image:url(images/bg-honeycomb.png);
    background-repeat: repeat;
    background-size:350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.service-icons {
  text-align: center;
  img {
    width:100% !important;
    max-width:100px !important;
    display: block !important;
    margin: 0 auto !important;
  }
}

@media (min-width: $screen-xs-max) {
  .service-icons {
    width:20%;
  }
}

@media (max-width: $screen-sm-max) {
  .products {
    .product-list {
      margin-bottom:115px;
    }
    .product-actions {
      margin-top:25px;
      width: 100% !important;
    }
    .product-enterprise {
      padding-bottom:100px;
    }
  }
}

//Blog
article.type-post {
  img {
    width:100%;
    max-width:max-content;
    display: block;
    margin:0 auto;
  }
}

//CONTACT US
ul.location-list {
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  font-family: $font-family-serif;
  font-size: 1.15em;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    footer.site-footer & {
      color:#000;
    }
    &.header {
      color: darken($brand-secondary, 20%);
      font-weight: 600;
      footer.site-footer & {
        color:darken($brand-secondary, 20%);
      }
    }
    &.location {
      padding-bottom:30px;
    }
    footer.site-footer & {
      span.label {
        color:$brand-secondary;
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

//TYPOGRAPHY
h4 {
  font-family: $font-family-sans-serif;
}

//COMMON
hr.divider {
  border: 0;
  outline: 0;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  background: url(images/divider.png);
  background-size: 100% 100%;
  display: block;
}

.pull-quote {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B3B3B3;
  color: #fff !important;
  position: relative;
  margin: 25px 0;
  h1 {
    color: #fff;
    line-height: 1.5;
    padding: 20px;
  }
}

@media (max-width:$screen-sm-max) {
  .pull-quote {
    h1 {
      font-size: 2em;
    }
  }
}

@media (max-width:$screen-xs-max) {
  .pull-quote {
    min-height: inherit;
    h1 {
      font-size: 1.15em;
    }
  }
}

.texture-orange {
  background:url(images/texture-orange.png);
  margin:20px 0 25px;
}

//SUITES
.suite-listing {
  padding-bottom:0;
  .thumb {
    padding:0;
    margin:-15px 0 10px 0;
  }
  img {
    width:100% !important;
    max-width:max-content !important;
    max-width:intrinsic !important;
    display: block;
    margin: 0 auto;
  }
  h4 {
    margin:0;
    padding:0;
    font-weight: bold;
  }
  .suite-description {
    //background:$brand-secondary;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
    //padding:20px 20px;
    //color:#fff !important;
    background:#f2f2f2;
  }
  .credits {
    background:#FFF;
    //margin-top:0px;
  }
  .credits-container {
    padding:0;
    margin:0 0 0 0;
    a.btn {
      margin:0 0;
    }
  }
}

.faq {
  .well {
    background:#555555;
    color:#fff !important;
  }
  h4 {
    font-weight: bold;
    color:#d9d9d9;
  }
}

//FOOTER
footer.site-footer {
  border-top:10px solid $brand-secondary;
  min-height:400px;
  background:$brand-secondary url(images/bg-pattern.jpg);
  position: relative;
  z-index: 0;
  margin-top:45px;
  color:#000 !important;
  &:before {
    content: " ";
    background:linear-gradient(180deg, rgba(#F5F5F5, .8), rgba(#F5F5F5, .9));
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
    height:100%;
  }
  h2 {
    color:darken(#EBE4DC, 20%) !important;
  }
}

nav.footer-navigation {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color:#000;
    font-family: $font-family-serif;
    font-size: 1.15em;
    padding:5px 0;
    display: block;
    position: relative;
    cursor: pointer;
    &:hover {
      background:lighten($brand-secondary, 10%);
      text-decoration: none;
      &:before {
        content:' ';
        background:lighten($brand-secondary, 10%);
        height:100%;
        width:10px;
        top:0;
        left:-10px;
        position: absolute;
      }
    }
  }
}

footer#social {
  background:#000;
  height:inherit !important;
  padding-top:10px;
  padding:10px;
  color:#fff !important;
}